In [59]:
import requests
from bs4 import BeautifulSoup
import math
import pandas as pd
from urllib.parse import quote
import re
from datetime import datetime

In [5]:
base_url = 'https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?'

In [ ]:
start = 0
keywords = input('Search for : ')
location = input('Location : ')
jobs_scraped = 0

target_url = base_url+f'keywords={quote(keywords)}&location={quote(location)}'

l=[]
o={}
k=[]

headers={"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36"}

print('Job IDs scraped : ')

while start != -1:
    
    res = requests.get(target_url+f'&start={start}')

    if len(re.sub('[\n <!->]','',res.text))>0:

        soup=BeautifulSoup(res.text,'html.parser')
        alljobs_on_this_page=soup.find_all("li")
        
        for x in range(0,len(alljobs_on_this_page)):
            try : 
                jobid = alljobs_on_this_page[x].find("div",{"class":"base-card"}).get('data-entity-urn').split(":")[3]
                l.append(jobid)
            except :
                pass
    
        print(f'{len(l)}')
        start += 25
    
    else :
        start = -1

In [72]:
m = l

In [73]:
l = l[:20]

In [74]:
job_posting_url='https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/{}'

for j in range(0,len(l)):

    resp = requests.get(job_posting_url.format(l[j]))
    soup=BeautifulSoup(resp.text,'html.parser')

    try:
        o["company"]=soup.find("div",{"class":"top-card-layout__card"}).find("a").find("img").get('alt')
    except:
        o["company"]=None

    try:
        o["location"]=soup.find("div",{"class":"topcard__flavor-row"}).find("span",{'class':'topcard__flavor--bullet'}).text.strip()
    except:
        o["location"]=None
    
    try:
        o['posted_time_ago']=soup.find_all("div",{"class":"topcard__flavor-row"})[1].find('span',{'class':'posted-time-ago__text'}).text.strip()
    except:
        o['posted_time_ago']=None
    
    try:
        o['applicant_number']=soup.find_all("div",{"class":"topcard__flavor-row"})[1].find('span',{'class':'num-applicants__caption'}).text.strip()
    except:
        o['applicant_number']=None

    try:
        o["job_title"]=soup.find("div",{"class":"top-card-layout__entity-info"}).find("a").text.strip()
    except:
        o["job_title"]=None

    try :
        o["job_description"]=soup.find("div",{"class":"description__text description__text--rich"}).text.strip()
    except:
        o["job_description"]=None

    try:
        o["level"]=soup.find("ul",{"class":"description__job-criteria-list"}).find("li").text.replace("Seniority level","").strip()
    except:
        o["level"]=None
    try:
        o["employment_type"]=soup.find("ul",{"class":"description__job-criteria-list"}).find_all("li")[1].text.replace("Employment type","").strip()
    except:
        o["employment_type"]=None
    try:
        o["job_function"]=soup.find("ul",{"class":"description__job-criteria-list"}).find_all("li")[2].text.replace("Job function","").strip()
    except:
        o["job_function"]=None
    try:
        o["industries"]=soup.find("ul",{"class":"description__job-criteria-list"}).find_all("li")[3].text.replace("Industries","").strip()
    except:
        o["industries"]=None

    k.append(o)
    o={}

df = pd.DataFrame(k)
timestamp = str(datetime.now())
df.to_csv(f'./../expo/{keywords}_{location}_{timestamp.split(".")[0]}_linkedinjobs.csv', index=False, encoding='utf-8')
print(len(df))

20

In [52]:
resp=requests.get('https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/3821317085')

In [53]:
soup=BeautifulSoup(resp.text,'html.parser')
soup.find("div",{"class":"description__text description__text--rich"}).text.strip()

'We are on the lookout for a Data Analyst with a specialization in marketing analytics. In this critical role, you will harness the power of tools like Google Data Studio, BigQuery, and Power BI to derive actionable insights that drive our marketing decisions. Your expertise in analyzing complex datasets and turning them into understandable and strategic information will be essential in shaping our marketing strategies. This position is ideal for someone who thrives on data-driven challenges and has a passion for leveraging technology to inform business decisions.What You’ll Be DoingData Analysis and Interpretation: Utilize tools like Google Data Studio, BigQuery, and Power BI to analyze marketing data and extract meaningful insights. Developing Reporting Dashboards: Create dynamic dashboards and reports that provide real-time insights into marketing performance. Collaborating with Marketing Teams: Work closely with marketing teams to understand their data needs and provide insights that inform strategy and decision-making. Data Integration and Management: Integrate data from various sources to provide a comprehensive view of marketing performance. Performance Tracking: Monitor key performance indicators (KPIs) to measure the effectiveness of marketing campaigns and strategies. Predictive Analysis: Use data to predict trends and market movements, aiding in proactive strategy development. Training and Support: Provide training and support to team members in using data analysis tools and understanding reports. Who You AreProficient in Data Analysis Tools: You have strong experience with tools such as Google Data Studio, BigQuery, and Power BI. Analytical and Insightful: You possess the ability to analyze complex datasets and turn them into actionable insights. Collaborative in Nature: You work well with marketing teams, understanding their needs and communicating data insights effectively. Skilled in Data Integration: You are adept at integrating and managing data from various sources. Detail-Oriented: You have a keen eye for detail and accuracy in data analysis and reporting. Proactive and Predictive: You are capable of conducting predictive analyses to inform future marketing strategies. Excellent Communicator: You can clearly convey data insights and their implications to non-technical team members. What Success Looks Like30 DaysEstablish a comprehensive, organized online database in BigQuery to store all client and marketing data and integrate lead data from CRMs, digital advertising data, customer opt-ins, and purchasing data to provide meaningful insights that inform marketing decisions. Create and maintain data dashboards in Looker Studio for easy data visualization, analysis, and automated reporting. 60 DaysDevelop statistical models for data analysis, including linear regression modeling and predictive lead scoring, that effectively guide marketing actions. 90 DaysAutomated the generation of actionable insights and trends over time from data analysis to inform our marketing strategy.\n\n\n        Show more\n\n        \n\n\n        Show less'

In [86]:
str(timestamp).split(':')[0]+':'+str(timestamp).split(':')[1]

'2024-02-03 20:07'

In [89]:
pd.read_csv('/Users/tzikos/Desktop/python tasks/linkedin_job_scrape/expo/chef_athens_2024-02-03 21:37_linkedinjobs.csv')

,company,location,posted_time_ago,applicant_number,job_title,job_description,level,employment_type,job_function,industries
0,COSTA NAVARINO,Greece,3 months ago,25 applicants,Demi Chef De Partie for Costa Navarino Dunes (...,Costa Navarino is in Messinia in the southwest...,Entry level,Contract,Management and Manufacturing,"Technology, Information and Internet"
1,COSTA NAVARINO,Greece,3 months ago,43 applicants,Commis Chef for W Costa Navarino (2024),Costa Navarino is in Messinia in the southwest...,Entry level,Contract,Management and Manufacturing,"Technology, Information and Internet"
2,COSTA NAVARINO,Greece,3 months ago,NaN,Demi Chef De Partie for W Costa Navarino (2024),Costa Navarino is in Messinia in the southwest...,Entry level,Contract,Management and Manufacturing,"Technology, Information and Internet"
3,Domes Resorts,"Athens, Attiki, Greece",10 months ago,NaN,Chef de Rang/Πασσαδόρος - MAKRIS Athens,"Η Domes Resorts προσγειώνεται στην Αθήνα, καλω...",Mid-Senior level,Full-time,Other,"Technology, Information and Internet"
4,COSTA NAVARINO,Greece,2 months ago,NaN,Baker Demi Chef De Partie for W Costa Navarino...,Costa Navarino is in Messinia in the southwest...,Entry level,Contract,Management and Manufacturing,"Technology, Information and Internet"
...,...,...,...,...,...,...,...,...,...,...
69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN